.blog-card {
    min-width: calc(25% - 22.5px);
}

.blog-banner {
    width: 100%;
    border-radius: var(--border-radius-md);
    margin-bottom: 20px;
}

.blog-category {
    width: max-content;
    color: var(--primary);
    font-size: 16px;
}

.blog-title {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px;
    transition: var(--transition-timing);
}

.blog-title:hover {
    color: var(--primary);
}

.blog-meta {
    color: var(--sonic-silver);
    font-size: 16px;
}