.about-wrapper {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 50px;
}

.about-wrapper h1 {
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}
.about_content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.about-card {
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 12px 4px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: var(--transition-timing);
}

.about-card i {
    margin: 20px;
    color: var(--primary);
    font-size: 40px;
}

.about-card h2 {
    margin-bottom: 12px;
    font-weight: 500;
    text-align: center;
}

.about-card p {
    color: var(--onxy);
    text-align: center;
}

.about-card:hover {
    color: white;
    background-color: var(--primary);
}

.about-card:hover i,
.about-card:hover p {
    color: white;
}